.cards{
    margin-top: 20px;
}

.filtres{
    margin-top: 100px;
}

.oneCard{
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-check-input{
    margin-left: 0px !important;
}

.form-check-label{
    margin-left: 10%;
}

.eliminarFiltres{
    color: #C0C0C0 !important;
}

.filtresActius{
    color: #C0C0C0;
}

.eliminarFiltres:hover {
    color: #967adc !important;
}

.btFiltres{
    margin-top: 5px;
}