.cards{
    margin-top: 20px;
}

.filtres{
    margin-top: 100px;
}

.oneCard{
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-check-input{
    margin-left: 10%;
}

.form-check-label{
    margin-left: 10%;
}