.fitxa{
    margin-top: 100px;
}

.nom{
    font-family: "Bungee",cursive;
}

.pob{
    font-family: 'Nixie One', cursive;
  
}

.img-fluid{
    margin-bottom: 20px;
}

h5{
    font-family: 'Noto Sans Jp';
}

.card-text{
    font-family: 'Noto Sans Jp';
}

.tarifes{
    font-family: 'Noto Sans Jp';
    border: 1px solid #967adc;
    background-color: rgba(150, 122,220, 0.1);
    border-radius: 10px;
    padding-top: 5%;
    height: 350px;
    font-weight: bold;
}

.boto{
    margin-left: 24%;
    margin-bottom: 2%;
    font-family: 'Noto Sans Jp';
}
ul{
    padding-inline-start: 1px;
}
li{
    list-style: none;
    font-family: 'Noto Sans Jp';  
    font-size: 18px;  
}

i{
    padding-right: 6px;
}

.serveis{
    font-family: "Bungee",cursive;
    margin-top: 5%;
}

.serv{
    margin-top: 10%;
}

.localitzacio{
    font-family: 'Nixie One', cursive;
    font-size: 18px;
}

.map{
    width:40%;
    height:400px;
    margin:10px;
}

.borde{
    border: 1px solid;
    border-color: #d0d0d0;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer{
    margin-top: 5%;
}

.titol{
    font-family: "Bungee",cursive;
}

.react-datepicker-wrapper{
    width: 100%;
}

.botoNM{
    font-family: 'Noto Sans Jp';
}

.nocasa h4{
    color:black !important;
}

h2{
    font-family: "Bungee",cursive;
}

.tit_access{

    font-family: "Bungee",cursive;
    text-align: center;
    padding-top: 200px;
}

.text_access{
    font-family: 'Noto Sans Jp';
}

.ic{
    padding-right: 0px;
}