

.login{
    width: 75%;
    height: 100%;
    margin-top: 200px;
    
    background-color:white;
    padding:5%;
    box-shadow:  0 1px 1px rgba(0, 0, 0, 0.1),
    0 2px 40px rgba(0, 0, 0, 0.1),
    0 4px 13px rgba(0, 0, 0, 0.1),
    0 8px 38px rgba(0, 0, 0, 0.1),
    0 16px 38px rgba(0, 0, 0, 0.1);;
    margin-bottom: 150px;
   
    
}

body{
    background-color: whitesmoke;
}

.desc{
    font-family: 'Noto Sans JP';
    margin-top: 4%;
    line-height: 25px;
    margin-bottom: 3%;
}
.label{
    font-family: 'Noto Sans JP';
}


.errorStyle {
    width: 100%;
    
    background: rgba(255, 0, 0, 0.05);
    color: #f9314b;
    font-size: 16px;
    border: 1px solid #f9314b;
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Noto Sans JP';
   
}

.input-group-text{
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.boto{
    font-family: "Noto Sans JP";
    margin-left: 0 !important;
}




@media screen and (min-width: 1030px) {
.errorStyle{
    width: 100%;
    
    background: rgba(255, 0, 0, 0.05);
    color: #f9314b;
    font-size: 16px;
    border: 1px solid #f9314b;
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Noto Sans JP';
   
}
}