.reserves{
    margin-top: 100px;
}

.meves{
    margin-bottom: 20px;
    color: black;
}

.table{
    margin-bottom: 50px  !important;
}

.card-text {
  
    font-family: "Noto Sans JP"; 
 }

 .table th {
    text-align: center;
    font-family: 'bungee';   
 }

 .foto{
    max-width: 240px;
 }

 .titol{
     color: black;
 }

 .link{
    color: black;
 }